html {
  height: 100vh;
  display: grid;
  place-items: center;

  background: #ca7c4e;
  background: -webkit-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: -moz-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: -o-linear-gradient(bottom left, #eebe6c 0%, #ca7c4e 100%);
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
}
:root {
  --brown: #786450;

  font-family: 'Open Sans', sans-serif;
}
.frame {
  width: 400px;
  height: 400px;
  border-radius: 4px;

  display: grid;
  place-items: center;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eebe6c', endColorstr='#ca7c4e', GradientType=1);

  color: var(--brown);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  width: 320px;
  height: 300px;
  border-radius: 4px;

  overflow: hidden;

  background: #fff;
}
.profile {
  width: 200px;
  height: 320px;

  float: left;

  text-align: center;
}
.image {
  width: 70px;
  height: 70px;
  margin: 38px auto 0;

  position: relative;
}
.circle-1,
.circle-2 {
  width: 76px;
  height: 76px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--brown) var(--brown) var(--brown) transparent;
  border-radius: 50%;
  box-sizing: border-box;

  position: absolute;
  top: -3px;
  left: -3px;

  transition: all 1.5s ease-in-out;
}
.circle-2 {
  width: 82px;
  height: 82px;
  border-color: var(--brown) transparent var(--brown) var(--brown);

  top: -6px;
  left: -6px;
}
img {
  border-radius: 50%;

  display: block;

  background: #f5e8df;
}
.image:hover {
  cursor: pointer;
}
.image:hover .circle-1 {
  transform: rotate(360deg);
}
.image:hover .circle-2 {
  transform: rotate(-360deg);
}
.name {
  margin-top: 20px;

  font-size: 15px;
  font-weight: 600;
}
.job {
  font-size: 11px;
  line-height: 15px;
}
.actions {
  margin-top: 33px;
}
.actions .btn {
  width: 120px;
  height: 30px;
  margin: 0 auto 10px;
  box-sizing: border-box;
  border: 1px solid var(--brown);
  border-radius: 15px;

  display: grid;
  place-items: center;

  font-size: 12px;
  font-weight: 600;
  color: var(--brown);

  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: var(--brown);

  color: #fff;
}

.stats {
  float: left;
}
.stats .box {
  width: 120px;
  height: 99px;
  padding-top: 28px;
  box-sizing: border-box;

  background: #f5e8df;

  text-align: center;

  transition: all 0.4s ease-in-out;
}
.stats .box:hover {
  background: #e1cfc2;

  cursor: pointer;
}
.stats .box:nth-child(2) {
  margin: 1px 0;
}
span {
  display: block;
}
.value {
  font-size: 18px;
  font-weight: 600;
}
.parameter {
  font-size: 11px;
}
